.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;

  background-color: rgb(241, 224, 148);
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 5px 5px rgb(175, 175, 175);
}

.status {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.isOffline {
  background-color: red;
}

.isOnline {
  background-color: forestgreen;
}

.avatar {
  margin-right: 35px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}
