.statistics {
  width: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: aliceblue;
  -webkit-box-shadow: 5px 5px 5px 5px #a5a5a5;
  box-shadow: 5px 5px 5px 5px #a39d9d;
}

.title {
  padding: 20px 0;
  text-align: center;
  color: rgb(167, 160, 160);
}

.statList {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(100% / 5);
  padding: 10px;

}

.label {
  color: aliceblue;
}

.percentage {
  color: aliceblue;
  font-size: 20px;
}
