.transactionHistory {
  border-collapse: collapse;
  width: 600px;
  margin: 30px auto;

  border: 1px solid rgb(187, 187, 187);
  -webkit-box-shadow: 5px 5px 5px 5px #d4d4d4;
  box-shadow: 5px 5px 5px 5px #d4d4d4;
}

thead {
  height: 30px;
  background-color: rgb(0, 255, 76);
}

tbody tr:nth-child(even) {
  background-color: gainsboro;
}

tr {
  height: 40px;
}

tbody tr td:first-child {
  text-transform: capitalize;
}

td {
  text-align: center;
}
